.project-blur {
	filter: blur(2.1px);
}

.project-photo-blur {
	filter: blur(3.5px);
}

.projects-container {
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;
}

.project {
	display: flex;
	flex-direction: column;
	background-color: var(--container-color);
	border-radius: 10px;
	box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
}

.project-desc {
	flex: 1;
	position: relative;
}

.project h3 {
	margin: 15px 0;
}

.project-subtitle {
	position: absolute;
	top: 21px;
	color: red;
	font-size: var(--small-font-size);
	font-style: italic;
}

.projects-container img {
	width: 100%;
	border-radius: 10px 10px 0 0;
}

.project-techs {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	row-gap: 4px;
	font-size: var(--smaller-font-size);
}

.project-techs span {
	display: inline-block;
	color: var(--secondary-color);
	border: 2px solid var(--secondary-color);
	font-weight: 600;
	margin-right: 2px;
	border-radius: 10px;
	padding: 0px 5px;
}

.project-content {
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 0 10px 10px;
}

.project-btns {
	margin-top: 16px;
	margin-bottom: 10px;
}

@media (min-width: 576px) {
	.projects-container {
		grid-template-columns: 1fr 1fr;
	}

	.projects-container img {
		height: 220px;
	}
}

@media (min-width: 768px) {
	.projects-container {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.projects-container img {
		height: 180px;
	}
	.project-btns {
		display: flex;
		flex-direction: column;
		width: max-content;
		gap: 5px;
	}
	
}

@media (min-width: 992px) {
	.projects-container img {
		height: 180px;
	}

	.project-btns {
		display: inline-block;
	}
}
