.abt-photo {
	display: flex;
	align-items: center;
	justify-content: center;
}

.abt-bgc {
	height: 85px;
	width: 85px;
	background-color: var(--secondary-color);
	border-radius: 50%;
}

.abt-blob-photo {
	background-image: url('../../assets/kp.png');
	background-size: cover;
	background-position: 50% 30%;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	border-radius: 50%;
	z-index: 1;
}

.abt-description {
	position: relative;
	margin-top: 20px;
	padding: 15px;
	border-radius: 15px;
	background-color: white;
	box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
}

.abt-description::after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	height: 17px;
	width: 17px;
	background-color: white;
	transform: translate(-50%, -50%) rotate(45deg);
}

.abt-learning-path {
	padding: 15px;
}

.abt-description {
	max-width: 640px;
}

.abt-lng-container {
	display: grid;
	justify-content: center;
	gap: 20px;
}

.abt-lng-container h3 {
	margin-top: 16px;
}

.lng-method {
	position: relative;
	display: flex;
	width: 170px;
	flex-direction: column;
	border-radius: 10px;
}

.lng-text {
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

.lng-course {
	font-weight: 600;
	line-height: 1.1;
	text-align: center;
}

.lng-logos {
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}

.lng-logo {
	margin: 0px 2px;
	width: 25px;
	height: 25px;
}

.lng-bar-container {
	margin-top: 25px;
}

.lng-bar {
	position: relative;
	background-color: rgb(172, 220, 252);
	border-radius: 4px;
}

.lng-bar::before {
	content: attr(data-percentage);
	position: absolute;
	top: -21px;
	left: 50%;
	color: var(--secondary-color);
	font-size: var(--smaller-font-size);
	transform: translate(-50%, 0);
}

@media (min-width: 576px) {
	.abt-container {
		display: grid;
		grid-template-columns: max-content 1fr;
		gap: 0 24px;
	}
	.abt-photo {
		align-items: baseline;
		margin-top: 10px;
	}

	.abt-description {
		margin-top: 0px;
	}

	.abt-description::after {
		top: 49px;
		left: 0px;
	}
}

@media (min-width: 768px) {
	.abt-container {
		grid-template-columns: 1fr max-content 7fr 1fr;
		gap: 0px;
	}

	.abt-photo {
		grid-column: 2/3;
		margin: 10px 24px 0 0;
	}

	.abt-description {
		grid-column: 3/4;
		padding: 15px;
		background-color: white;
	}

	.abt-lng-container {
		grid-template-columns: 1fr 1fr;
		place-self: center;
	}

	.abt-lng-container h3 {
		grid-column: 1/3;
	}

	.lng-method {
		place-self: center;
	}

	.lng-method:nth-child(4) .lng-bar-container {
		margin-top: 41px;
	}
}
