.home-content {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.home-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.home-photo {
	display: flex;
	align-items: center;
	justify-content: center;
}

.home-bgc {
	height: 150px;
	width: 150px;
	background-color: var(--secondary-color);
	border-radius: 50%;
}

.home-blob-photo {
	background-image: url('../../assets/kp.png');
	background-size: cover;
	background-position: 50% 30%;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	border-radius: 50%;
	z-index: 1;
}

.home-social {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 10px;
	font-size: 25px;
}

.home-content h3 {
	text-align: center;
}

.social-icon {
	padding: 0px 5px;
	transition: color 0.4s, text-shadow 0.4s;
}

.social-icon:hover {
	color: var(--secondary-color);
	text-shadow: 0 0 3px var(--secondary-color);
}

.home-description {
	line-height: 2;
}

.home-buttons {
	position: relative;
	display: flex;
	justify-content: center;
	font-weight: var(--font-semibold);
}

.home-buttons a {
	transition: color 0.4s;
}

.home-buttons a:hover {
	color: var(--secondary-color);
}

@media (min-width: 992px) {
	.home-bgc {
		height: 190px;
		width: 190px;
		background-color: var(--secondary-color);
		border-radius: 50%;
	}

	.home-social {
		font-size: 30px;
	}
}
